<% var data = {
title: "КиберЛига Pro Series"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>



<section class="section" >
    <div class="container">
        <h2 class="h2">О Киберлиге Pro Series</h2>

        <div class="big-banner m-t-40 m-b-40" style="background-image: url('./img/about.jpg')"></div>


        <p class="m-b-20">После успешного пилотного запуска КиберЛиги Pro Series, турнир, генеральным партнёром которого стала БК «Лига ставок», стартует в новом формате.</p>
        <p class="m-b-20">  С 7 апреля по 31 мая пройдёт первый сезон КиберЛиги Pro Series, состоящий из 8 игровых недель. В начале каждой недели будет проводиться жеребьёвка группового этапа –
            клубы РПЛ будут
            поделены на четыре группы. Матчи каждой группы будут сыграны в отдельные дни. Плей-офф пройдёт в один день, начиная с четвертьфинала.</p>
        <p class="m-b-20">Ещё одно важное нововведение – рейтинг клубов, на основании которого будут определяться сеяные и несеяные команды при жеребьёвке, а также главный победитель по итогам
            сезона.</p>
        <p class="m-b-20">За победу в еженедельном турнире команда получит 10 очков, за второе место – 9, за третье – 8, за четвертое – 7, за поражение в четвертьфинале – 6. За третье место в
            группе – 3 очка, за
            четвертое – 1.</p>
        <p class="m-b-20">КиберЛига Pro Series #1 пройдёт с 7 по 12 апреля. 7 апреля в 20:00 состоится жеребьёвка группового этапа на основании рейтинга, составленного по итогам пилотного запуска
            КиберЛиги Pro
            Series, в котором победил «Сочи».</p>
        <p class="m-b-20"> С 8 по 11 апреля команды проведут матчи группового этапа, расписание которого будет опубликовано вечером 7 апреля. 12 апреля клубы проведут плей-офф.</p>
        <p class="m-b-20"> Турнир пройдёт на платформе eFootball PES 2020 в формате 1x1, все матчи будут сыграны удалённо. Игры группового этапа команды проведут в два круга.</p>
        <p class="m-b-20">Трансляции группового этапа будут доступны на официальных ресурсах Российской Премьер-Лиги, на официальном сайте и в мобильном приложении Генерального партнёра турнира –
            БК «Лига
            Ставок».</p>
        <p class="m-b-20">За результатами матчей можно следить на сайте и в социальных сетях Российской Премьер-Лиги.</p>


    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
