<% var data = {
title: "КиберЛига Pro Series"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="section gray p-b-30 p-t-0 clubs " >
        <div class="krilya-bg">
            <div class="container">
                <div class="clubs-top">
                    <div class="breadcrumbs breadcrumbs-white">
                        <a href="/" class="item">Главная</a>
                        <a href="/" class="item">Участники</a>
                        <span class="item-last">Крылья Советов</span>
                    </div>
                    <div class="clubs-top__bg"></div>
                    <div class="clubs-top__content">
                        <img class="clubs-logo" src="./img/clubs/krilya.svg" alt="krilya">
                        <h1 class="clubs-title">Крылья Советов</h1>
                        <div class="clubs-top__socials">
                            <a href="" target="_blank">
                                <img src="./img/social/web.svg" alt="">
                            </a>
                            <a href="" target="_blank">
                                <img src="./img/social/facebook.svg" alt="">
                            </a>
                            <a href="" target="_blank">
                                <img src="./img/social/instagram.svg" alt="">
                            </a>
                            <a href="" target="_blank">
                                <img src="./img/social/ok.svg" alt="">
                            </a>
                            <a href="" target="_blank">
                                <img src="./img/social/twitter.svg" alt="">
                            </a>
                            <a href="" target="_blank">
                                <img src="./img/social/vk.svg" alt="">
                            </a>
                            <a href="" target="_blank">
                                <img src="./img/social/youtube.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clubs-info" data-tabs-block>
            <div class="container">
                <div class="row">
                    <div class="col text-align-center m-t-40 m-b-40">
                        <div class="switches">
                            <div class="tab-big switch" data-tab="1">Статистика</div>
                            <div class="tab-big switch" data-tab="2">Состав</div>
                            <div class="tab-big switch" data-tab="3">Матчи</div>
                            <div class="tab-big switch" data-tab="4">Новости</div>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>

                <div class="row tab" data-tab="1">
                    <div class="col clubs-info__stats">
                        <div class="row">
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item clubs-info__stats-item--blue">
                                    <span class="text">Рейтинг</span>
                                    <span class="number">80</span>
                                </div>
                            </div>
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item ">
                                    <span class="text">Побед</span>
                                    <span class="number">80</span>
                                </div>
                            </div>
                            <div class="clr hide-desktop"></div>
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item ">
                                    <span class="text">Забито</span>
                                    <span class="number">20</span>
                                </div>
                            </div>
                            <div class="clr hide-mobile"></div>
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item clubs-info__stats-item--red">
                                    <span class="text">Позиция</span>
                                    <span class="number">16</span>
                                </div>
                            </div>
                            <div class="clr hide-desktop"></div>
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item ">
                                    <span class="text">Ничьих</span>
                                    <span class="number">5</span>
                                </div>
                            </div>
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item ">
                                    <span class="text">Пропущено</span>
                                    <span class="number">30</span>
                                </div>
                            </div>
                            <div class="clr hide-mobile"></div>
                            <div class="clr hide-desktop"></div>

                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item ">
                                    <span class="text">Матчей</span>
                                    <span class="number">90</span>
                                </div>
                            </div>
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item ">
                                    <span class="text">Поражений</span>
                                    <span class="number">5</span>
                                </div>
                            </div>
                            <div class="clr hide-desktop"></div>
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item ">
                                    <span class="text">Разница мячей</span>
                                    <span class="number">-10</span>
                                </div>
                            </div>
                            <div class="clr hide-mobile"></div>
                        </div>
                    </div>

                    <div class="col clubs-info__stats clubs-info__stats-series">
                        <div class="clubs-info__stats-title">По сериям</div>
                        <div class="row">
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item ">
                                    <span class="text">Series 1</span>
                                    <span class="number">10</span>
                                </div>
                            </div>
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item ">
                                    <span class="text">Series 2</span>
                                    <span class="number">5</span>
                                </div>
                            </div>
                            <div class="clr hide-desktop"></div>
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item ">
                                    <span class="text">Series 3</span>
                                    <span class="number">10</span>
                                </div>
                            </div>
                            <div class="clr hide-mobile"></div>
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item">
                                    <span class="text">Series 4</span>
                                    <span class="number">5</span>
                                </div>
                            </div>
                            <div class="clr hide-desktop"></div>
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item ">
                                    <span class="text">Series 5</span>
                                    <span class="number">-</span>
                                </div>
                            </div>
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item ">
                                    <span class="text">Series 6</span>
                                    <span class="number">-</span>
                                </div>
                            </div>
                            <div class="clr hide-mobile"></div>
                            <div class="clr hide-desktop"></div>

                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item ">
                                    <span class="text">Series 7</span>
                                    <span class="number">-</span>
                                </div>
                            </div>
                            <div class="col w-33 w-50-tablet">
                                <div class="clubs-info__stats-item ">
                                    <span class="text">Series 8</span>
                                    <span class="number">-</span>
                                </div>
                            </div>
                            <div class="clr hide-desktop"></div>
                        </div>
                    </div>
                </div>
                <div class="row tab clubs-line-up" data-tab="2">
                    <div class="col w-33 w-50-tablet">
                        <a href="" class="clubs-line-up__item">
                            <div class="photo-block">
                                <img src="./img/players/big-2.png" alt="1" class="main-photo">
                                <img src="./img/clubs/krilya.svg" alt="krilya" class="club-logo">
                            </div>
                            <div class="text-block">
                                <div class="name">Давид</div>
                                <div class="surname">Голетиани</div>
                                <div class="line"></div>
                                <div class="link">@pes_nickname</div>
                            </div>
                        </a>
                    </div>
                    <div class="col w-33 w-50-tablet">
                        <a href="" class="clubs-line-up__item">
                            <div class="photo-block">
                                <img src="./img/players/big-1.png" alt="1" class="main-photo">
                                <img src="./img/clubs/krilya.svg" alt="krilya" class="club-logo">
                            </div>
                            <div class="text-block">
                                <div class="name">Виталий</div>
                                <div class="surname">Сафонов</div>
                                <div class="line"></div>
                                <div class="link">@pes_nickname</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row tab results playoff " data-tab="3">
                    <div class="results__subtitle">Сегодня, 23 апреля. <span>Киберлига Pro Series #2</span></div>
                    <table class="results__table">
                        <tbody>
                        <tr data-href="/news-detail.html" class="result-item" >
                            <td class="team__name">
                                Краснодар
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/krasnodar.svg" alt="krasnodar">
                            </td>
                            <td  class="score text-align-center">
                                0:3
                                <span class="score__text">Завершен</span>
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/spartak.svg" alt="spartak">
                            </td>
                            <td class="team__name last">
                                Спартак
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html" class="result-item">
                            <td class="team__name">
                                Спартак
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/spartak.svg" alt="spartak">
                            </td>
                            <td  class="score time text-align-center">
                                15:30
                                <span class="score__text">Не начался</span>

                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/tambov.svg" alt="tambov">
                            </td>
                            <td class="team__name last">
                                Тамбов
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>

                        </tr>
                        <tr data-href="/news-detail.html" class="result-item" >
                            <td class="team__name">
                                Ростов
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/rostov.svg" alt="rostov">
                            </td>
                            <td  class="score text-align-center">
                                1:3
                                <span class="score__text">Завершен</span>
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/ufa.svg" alt="ufa">
                            </td>
                            <td class="team__name last">
                                Уфа
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html" class="result-item">
                            <td class="team__name">
                                1D
                            </td>
                            <td  class="team__logo">
                                <img src="./img/club-default.svg" alt="default">
                            </td>
                            <td  class="score time text-align-center">
                                15:30
                                <span class="score__text">Не начался</span>
                            </td>
                            <td  class="team__logo">
                                <img src="./img/club-default.svg" alt="default">
                            </td>
                            <td class="team__name last">
                                2A
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>

                        </tr>
                        <tr data-href="/news-detail.html" class="result-item">
                            <td class="team__name">
                                Краснодар
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/krasnodar.svg" alt="krasnodar">
                            </td>
                            <td  class="score text-align-center">
                                3:3
                                <span class="score__text">Завершен</span>
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/spartak.svg" alt="spartak">
                            </td>
                            <td class="team__name last">
                                Спартак
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html" class="result-item" >
                            <td class="team__name">
                                Спартак
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/spartak.svg" alt="spartak">
                            </td>
                            <td  class="score time text-align-center">
                                15:30
                                <span class="score__text">Не начался</span>
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/tambov.svg" alt="tambov">
                            </td>
                            <td class="team__name last">
                                Тамбов
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html" class="result-item" >
                            <td class="team__name">
                                Краснодар
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/krasnodar.svg" alt="krasnodar">
                            </td>
                            <td  class="score text-align-center">
                                2:3
                                <span class="score__text">Завершен</span>
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/spartak.svg" alt="spartak">
                            </td>
                            <td class="team__name last">
                                Спартак
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html" class="result-item" >
                            <td class="team__name">
                                Краснодар
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/krasnodar.svg" alt="krasnodar">
                            </td>
                            <td  class="score text-align-center">
                                2:3
                                <span class="score__text">Завершен</span>
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/spartak.svg" alt="spartak">
                            </td>
                            <td class="team__name last">
                                Спартак
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="results__subtitle m-t-30">Сегодня, 24 апреля</div>
                    <table class="results__table">
                        <tbody>
                        <tr data-href="/news-detail.html" class="result-item " >
                            <td class="team__name">
                                Краснодар
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/krasnodar.svg" alt="krasnodar">
                            </td>
                            <td  class="score text-align-center">
                                0:3
                                <span class="score__text">Завершен</span>
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/spartak.svg" alt="spartak">
                            </td>
                            <td class="team__name last">
                                Спартак
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html" class="result-item ">
                            <td class="team__name">
                                Спартак
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/spartak.svg" alt="spartak">
                            </td>
                            <td  class="score time text-align-center">
                                15:30
                                <span class="score__text">Не начался</span>

                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/tambov.svg" alt="tambov">
                            </td>
                            <td class="team__name last">
                                Тамбов
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>

                        </tr>
                        <tr data-href="/news-detail.html" class="result-item " >
                            <td class="team__name">
                                Ростов
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/rostov.svg" alt="rostov">
                            </td>
                            <td  class="score text-align-center">
                                1:3
                                <span class="score__text">Завершен</span>
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/ufa.svg" alt="ufa">
                            </td>
                            <td class="team__name last">
                                Уфа
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html" class="result-item " >
                            <td class="team__name">
                                1D
                            </td>
                            <td  class="team__logo">
                                <img src="./img/club-default.svg" alt="default">
                            </td>
                            <td  class="score time text-align-center">
                                15:30
                                <span class="score__text">Не начался</span>
                            </td>
                            <td  class="team__logo">
                                <img src="./img/club-default.svg" alt="default">
                            </td>
                            <td class="team__name last">
                                2A
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>

                        </tr>
                        <tr data-href="/news-detail.html" class="result-item  ">
                        <td class="team__name">
                            Краснодар
                        </td>
                        <td  class="team__logo">
                            <img src="./img/clubs/krasnodar.svg" alt="krasnodar">
                        </td>
                        <td  class="score text-align-center">
                            3:3
                            <span class="score__text">Завершен</span>
                        </td>
                        <td  class="team__logo">
                            <img src="./img/clubs/spartak.svg" alt="spartak">
                        </td>
                        <td class="team__name last">
                            Спартак
                            <a href="/" class="play-btn play-btn__big">
                                <img src="./img/play.svg" alt="play">
                            </a>
                        </td>
                        </tr>
                        <tr data-href="/news-detail.html" class="result-item  " >
                            <td class="team__name">
                                Спартак
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/spartak.svg" alt="spartak">
                            </td>
                            <td  class="score time text-align-center">
                                15:30
                                <span class="score__text">Не начался</span>
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/tambov.svg" alt="tambov">
                            </td>
                            <td class="team__name last">
                                Тамбов
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html" class="result-item  " >
                            <td class="team__name">
                                Краснодар
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/krasnodar.svg" alt="krasnodar">
                            </td>
                            <td  class="score text-align-center">
                                2:3
                                <span class="score__text">Завершен</span>
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/spartak.svg" alt="spartak">
                            </td>
                            <td class="team__name last">
                                Спартак
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html" class="result-item  " >
                            <td class="team__name">
                                Краснодар
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/krasnodar.svg" alt="krasnodar">
                            </td>
                            <td  class="score text-align-center">
                                2:3
                                <span class="score__text">Завершен</span>
                            </td>
                            <td  class="team__logo">
                                <img src="./img/clubs/spartak.svg" alt="spartak">
                            </td>
                            <td class="team__name last">
                                Спартак
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row tab news-block" data-tab="4">
                    <div class="col w-25 w-50-tablet">
                        <a class="news-tab" href="/">
                            <span class="news__type video">ВИДЕО</span>
                            <div class="news__img" style="background-image: url('./img/news/2.jpg')"></div>
                            <div class="news-text">
                                <span class="news__date">23.04.2020</span>
                                <p class="news__title subtitle">Watch classic UEFA competition games in full and for free</p>
                            </div>
                        </a>
                    </div>
                    <div class="col w-25 w-50-tablet">
                        <a class="news-tab" href="/">
                            <span class="news__type media">МЕДИА</span>
                            <div class="news__img" style="background-image: url('./img/news/1.jpg')"></div>
                            <div class="news-text">
                                <span class="news__date">23.04.2020</span>
                                <p class="news__title subtitle">Watch classic UEFA competition games in full and for free Watch classic UEFA competition games in full and for free for free</p>
                            </div>
                        </a>
                    </div>
                    <div class="clr hide-desktop"></div>
                    <div class="col w-25 w-50-tablet">
                        <a class="news-tab" href="/">
                            <span class="news__type new">НОВОСТЬ</span>
                            <div class="news__img" style="background-image: url('./img/news/3.jpg')"></div>
                            <div class="news-text">
                                <span class="news__date">23.04.2020</span>
                                <p class="news__title subtitle">Watch classic UEFA competition games in full and for free Watch classic UEFA competition games in full and for free</p>
                            </div>
                        </a>
                    </div>
                    <div class="col w-25 w-50-tablet">
                        <a class="news-tab" href="/">
                            <span class="news__type media">МЕДИА</span>
                            <div class="news__img" style="background-image: url('./img/news/1.jpg')"></div>
                            <div class="news-text">
                                <span class="news__date">23.04.2020</span>
                                <p class="news__title subtitle">Watch classic UEFA competition games in full and for free</p>
                            </div>
                        </a>
                    </div>
                    <div class="clr hide-mobile"></div>
                    <div class="clr hide-desktop"></div>
                    <div class="col w-25 w-50-tablet">
                        <a class="news-tab" href="/">
                            <span class="news__type video">ВИДЕО</span>
                            <div class="news__img" style="background-image: url('./img/news/2.jpg')"></div>
                            <div class="news-text">
                                <span class="news__date">23.04.2020</span>
                                <p class="news__title subtitle">Watch classic UEFA competition games in full and for free</p>
                            </div>
                        </a>
                    </div>
                    <div class="col w-25 w-50-tablet">
                        <a class="news-tab" href="/">
                            <span class="news__type media">МЕДИА</span>
                            <div class="news__img" style="background-image: url('./img/news/1.jpg')"></div>
                            <div class="news-text">
                                <span class="news__date">23.04.2020</span>
                                <p class="news__title subtitle">Watch classic UEFA competition games in full and for free Watch classic UEFA competition games in full and for free for free</p>
                            </div>
                        </a>
                    </div>
                    <div class="clr hide-desktop"></div>
                    <div class="col w-25 w-50-tablet">
                        <a class="news-tab" href="/">
                            <span class="news__type new">НОВОСТЬ</span>
                            <div class="news__img" style="background-image: url('./img/news/3.jpg')"></div>
                            <div class="news-text">
                                <span class="news__date">23.04.2020</span>
                                <p class="news__title subtitle">Watch classic UEFA competition games in full and for free Watch classic UEFA competition games in full and for free</p>
                            </div>
                        </a>
                    </div>
                    <div class="col w-25 w-50-tablet">
                        <a class="news-tab" href="/">
                            <span class="news__type media">МЕДИА</span>
                            <div class="news__img" style="background-image: url('./img/news/1.jpg')"></div>
                            <div class="news-text">
                                <span class="news__date">23.04.2020</span>
                                <p class="news__title subtitle">Watch classic UEFA competition games in full and for free</p>
                            </div>
                        </a>
                    </div>
                    <div class="clr hide-mobile"></div>
                    <div class="clr hide-desktop"></div>
                </div>
            </div>

        </div>

</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
