<% var data = {
title: "КиберЛига Pro Series"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="section p-b-0">
    <div class="container">
        <div class="breadcrumbs">
            <a href="/" class="item">Главная</a>
            <span class="item-last">Участники</span>
        </div>
    </div>
</section>
<section class="section p-t-40 members">
    <div class="container">
        <div class="news-block">
            <h1 class="h2 m-b-30">Участники</h1>
            <div class="row">
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/krasnodar.svg">
                        <span>Краснодар</span>
                    </a>
                </div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/spartak.svg">
                        <span>Спартак</span>
                    </a>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/tambov.svg">
                        <span>Тамбов</span>
                    </a>
                </div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/krilya.svg">
                        <span>Крылья Советов</span>
                    </a>
                </div>
                <div class="clr hide-mobile"></div>
                <div class="clr hide-desktop"></div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/krasnodar.svg">
                        <span>Краснодар</span>
                    </a>
                </div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/spartak.svg">
                        <span>Спартак</span>
                    </a>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/tambov.svg">
                        <span>Тамбов</span>
                    </a>
                </div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/krilya.svg">
                        <span>Крылья Советов</span>
                    </a>
                </div>
                <div class="clr hide-mobile"></div>
                <div class="clr hide-desktop"></div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/krasnodar.svg">
                        <span>Краснодар</span>
                    </a>
                </div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/spartak.svg">
                        <span>Спартак</span>
                    </a>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/tambov.svg">
                        <span>Тамбов</span>
                    </a>
                </div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/krilya.svg">
                        <span>Крылья Советов</span>
                    </a>
                </div>
                <div class="clr hide-mobile"></div>
                <div class="clr hide-desktop"></div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/krasnodar.svg">
                        <span>Краснодар</span>
                    </a>
                </div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/spartak.svg">
                        <span>Спартак</span>
                    </a>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/tambov.svg">
                        <span>Тамбов</span>
                    </a>
                </div>
                <div class="col w-25 w-50-tablet">
                    <a href="/" class="members__item">
                        <img alt="krilya" src="./img/clubs/krilya.svg">
                        <span>Крылья Советов</span>
                    </a>
                </div>
                <div class="clr hide-mobile"></div>
                <div class="clr hide-desktop"></div>
            </div>
        </div>
    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
