<% var data = {
title: "КиберЛига Pro Series"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<section class="section p-t-40">
    <div class="container">
        <div class="news-block">
            <div class="row">
                <div class="col w-50">
                    <a class="news-tab news-tab__main" href="/">
                        <div class="news-tab__main-bg" style="background-image: url('./img/news/1.jpg')"></div>
                        <span class="news__type interview">ТРАНСЛЯЦИЯ</span>
                        <div class="news-tab__content">
                            <span class="news__date__main white">23.04.2020</span>
                            <p class="h3 white m-t-20 m-b-20">Watch classic UEFA competition games in full and for free</p>
                            <p class="news__subtitle white">Watch classic UEFA competition games in full and for free Watch classic UEFA competition games in full and for free Watch classic UEFA
                                competition
                                games in full and for free</p>
                        </div>
                    </a>
                </div>
                <div class="col w-50">
                    <div class="row">
                        <div class="col w-50 w-50-tablet">
                            <a class="news-tab" href="/">
                                <span class="news__type video">ВИДЕО</span>
                                <div class="news__img" style="background-image: url('./img/news/2.jpg')"></div>
                                <div class="news-text">
                                    <span class="news__date">23.04.2020</span>
                                    <p class="news__title subtitle">Watch classic UEFA competition games in full and for free</p>
                                </div>
                            </a>
                        </div>
                        <div class="col w-50 w-50-tablet">
                            <a class="news-tab" href="/">
                                <span class="news__type media">МЕДИА</span>
                                <div class="news__img" style="background-image: url('./img/news/1.jpg')"></div>
                                <div class="news-text">
                                    <span class="news__date">23.04.2020</span>
                                    <p class="news__title subtitle">Watch classic UEFA competition games in full and for free Watch classic UEFA competition games in full and for free for free</p>
                                </div>
                            </a>
                        </div>
                        <div class="clr hide-mobile"></div>
                        <div class="col w-50 w-50-tablet">
                            <a class="news-tab" href="/">
                                <span class="news__type new">НОВОСТЬ</span>
                                <div class="news__img" style="background-image: url('./img/news/3.jpg')"></div>
                                <div class="news-text">
                                    <span class="news__date">23.04.2020</span>
                                    <p class="news__title subtitle">Watch classic UEFA competition games in full and for free Watch classic UEFA competition games in full and for free</p>
                                </div>
                            </a>
                        </div>
                        <div class="col w-50 w-50-tablet">
                            <a class="news-tab" href="/">
                                <span class="news__type media">МЕДИА</span>
                                <div class="news__img" style="background-image: url('./img/news/1.jpg')"></div>
                                <div class="news-text">
                                    <span class="news__date">23.04.2020</span>
                                    <p class="news__title subtitle">Watch classic UEFA competition games in full and for free</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clr hide-mobile"></div>
            </div>
        </div>
        <div class="text-align-center btn-block">
            <a class="button" href="/">Показать еще</a>
        </div>
    </div>
</section>


<section class="section gray playoff results tabs-block" data-tabs-block>
    <div class="container">
        <div class="row">
            <div class="col d-flex-results">
                <h2 class="h2">Плей-офф</h2>
                <div class="switches text-align-right">
                    <div class="tab-big switch" data-tab="1">1/4 финала</div>
                    <div class="tab-big switch" data-tab="2">1/2 финала</div>
                    <div class="tab-big switch" data-tab="3">Финал</div>
                </div>
            </div>
            <div class="clr hide-mobile"></div>
            <div class="col">
                <div class="results__subtitle">Сегодня, 23 апреля</div>
                <table class="results__table">
                    <tbody>
                         <tr class="result-item tab" data-href="/news-detail.html" data-tab="1">
                            <td class="team__name">
                                Краснодар
                            </td>
                            <td  class="team__logo">
                                    <img src="./img/clubs/krasnodar.svg" alt="krasnodar">
                            </td>
                            <td  class="score text-align-center">
                                0:3
                                <span class="score__text">Завершен</span>
                            </td>
                            <td  class="team__logo">
                                    <img src="./img/clubs/spartak.svg" alt="spartak">
                            </td>
                            <td class="team__name last">
                                Спартак
                                <a href="/" class="play-btn play-btn__big">
                                    <img src="./img/play.svg" alt="play">
                                </a>
                            </td>
                        </tr>
                         <tr class="result-item tab" data-href="/news-detail.html" data-tab="1">
                             <td class="team__name">
                                 Спартак
                             </td>
                             <td  class="team__logo">
                                 <img src="./img/clubs/spartak.svg" alt="spartak">
                             </td>
                             <td  class="score time text-align-center">
                                 15:30
                                 <span class="score__text">Не начался</span>

                             </td>
                             <td  class="team__logo">
                                 <img src="./img/clubs/tambov.svg" alt="tambov">
                             </td>
                             <td class="team__name last">
                                 Тамбов
                                 <a href="/" class="play-btn play-btn__big">
                                     <img src="./img/play.svg" alt="play">
                                 </a>
                             </td>

                         </tr>
                         <tr class="result-item tab" data-href="/news-detail.html" data-tab="1">
                             <td class="team__name">
                                 Ростов
                             </td>
                             <td  class="team__logo">
                                 <img src="./img/clubs/rostov.svg" alt="rostov">
                             </td>
                             <td  class="score text-align-center">
                                 1:3
                                 <span class="score__text">Завершен</span>
                             </td>
                             <td  class="team__logo">
                                 <img src="./img/clubs/ufa.svg" alt="ufa">
                             </td>
                             <td class="team__name last">
                                 Уфа
                                 <a href="/" class="play-btn play-btn__big">
                                     <img src="./img/play.svg" alt="play">
                                 </a>
                             </td>
                         </tr>
                         <tr class="result-item tab" data-href="/news-detail.html" data-tab="1">
                             <td class="team__name">
                                 1D
                             </td>
                             <td  class="team__logo">
                                 <img src="./img/club-default.svg" alt="default">
                             </td>
                             <td  class="score time text-align-center">
                                 15:30
                                 <span class="score__text">Не начался</span>
                             </td>
                             <td  class="team__logo">
                                 <img src="./img/club-default.svg" alt="default">
                             </td>
                             <td class="team__name last">
                                 2A
                                 <a href="/" class="play-btn play-btn__big">
                                     <img src="./img/play.svg" alt="play">
                                 </a>
                             </td>

                         </tr>

                         <tr class="result-item tab" data-href="/news-detail.html" data-tab="2">
                             <td class="team__name">
                                 Краснодар
                             </td>
                             <td  class="team__logo">
                                 <img src="./img/clubs/krasnodar.svg" alt="krasnodar">
                             </td>
                             <td  class="score text-align-center">
                                 3:3
                                 <span class="score__text">Завершен</span>
                             </td>
                             <td  class="team__logo">
                                 <img src="./img/clubs/spartak.svg" alt="spartak">
                             </td>
                             <td class="team__name last">
                                 Спартак
                                 <a href="/" class="play-btn play-btn__big">
                                     <img src="./img/play.svg" alt="play">
                                 </a>
                             </td>
                         </tr>
                         <tr class="result-item tab" data-href="/news-detail.html" data-tab="2">
                             <td class="team__name">
                                 Спартак
                             </td>
                             <td  class="team__logo">
                                 <img src="./img/clubs/spartak.svg" alt="spartak">
                             </td>
                             <td  class="score time text-align-center">
                                 15:30
                                 <span class="score__text">Не начался</span>
                             </td>
                             <td  class="team__logo">
                                 <img src="./img/clubs/tambov.svg" alt="tambov">
                             </td>
                             <td class="team__name last">
                                 Тамбов
                                 <a href="/" class="play-btn play-btn__big">
                                     <img src="./img/play.svg" alt="play">
                                 </a>
                             </td>
                         </tr>

                         <tr class="result-item tab" data-href="/news-detail.html" data-tab="3">
                             <td class="team__name">
                                 Краснодар
                             </td>
                             <td  class="team__logo">
                                 <img src="./img/clubs/krasnodar.svg" alt="krasnodar">
                             </td>
                             <td  class="score text-align-center">
                                 2:3
                                 <span class="score__text">Завершен</span>
                             </td>
                             <td  class="team__logo">
                                 <img src="./img/clubs/spartak.svg" alt="spartak">
                             </td>
                             <td class="team__name last">
                                 Спартак
                                 <a href="/" class="play-btn play-btn__big">
                                     <img src="./img/play.svg" alt="play">
                                 </a>
                             </td>
                         </tr>
                    </tbody>
                </table>
            </div>
            <div class="clr hide-mobile"></div>
        </div>
        <div class="text-align-center btn-block">
            <a class="button" href="/">Все результаты</a>
        </div>
    </div>
</section>

<section class="section rating">
    <div class="container">
        <div class="row">
            <div class="col w-50">
                <h3 class="rating__title">Рейтинг клубов</h3>
                <table class="rating__table">
                    <tbody>
                        <tr data-href="/news-detail.html">
                            <td class="rating__table-numb">1</td>
                            <td  class="rating__table-logo">
                                <img src="./img/clubs/cska.svg" alt="cska">
                            </td>
                            <td  class="rating__table-team">ЦСКА</td>
                            <td  class="rating__table-score">340</td>
                        </tr>
                        <tr data-href="/news-detail.html">
                            <td class="rating__table-numb">2</td>
                            <td  class="rating__table-logo">
                                <img src="./img/clubs/sochi.svg" alt="sochi">
                            </td>
                            <td  class="rating__table-team">Сочи</td>
                            <td  class="rating__table-score">212</td>
                        </tr>
                        <tr data-href="/news-detail.html">
                            <td class="rating__table-numb">3</td>
                            <td  class="rating__table-logo">
                                <img src="./img/clubs/krilya.svg" alt="krilya">
                            </td>
                            <td  class="rating__table-team">Крылья Советов</td>
                            <td  class="rating__table-score">112</td>
                        </tr>
                        <tr data-href="/news-detail.html">
                            <td class="rating__table-numb">4</td>
                            <td  class="rating__table-logo">
                                <img src="./img/clubs/rubin.svg" alt="rubin">
                            </td>
                            <td  class="rating__table-team">Рубин</td>
                            <td  class="rating__table-score">92</td>
                        </tr>
                        <tr data-href="/news-detail.html">
                            <td class="rating__table-numb">5</td>
                            <td  class="rating__table-logo">
                                <img src="./img/clubs/cska.svg" alt="cska">
                            </td>
                            <td  class="rating__table-team">ЦСКА</td>
                            <td  class="rating__table-score">40</td>
                        </tr>
                        <tr data-href="/news-detail.html">
                            <td class="rating__table-numb">6</td>
                            <td  class="rating__table-logo">
                                <img src="./img/clubs/sochi.svg" alt="sochi">
                            </td>
                            <td  class="rating__table-team">Сочи</td>
                            <td  class="rating__table-score">22</td>
                        </tr>
                        <tr data-href="/news-detail.html">
                            <td class="rating__table-numb">7</td>
                            <td  class="rating__table-logo">
                                <img src="./img/clubs/krilya.svg" alt="krilya">
                            </td>
                            <td  class="rating__table-team">Крылья Советов</td>
                            <td  class="rating__table-score">12</td>
                        </tr>
                        <tr data-href="/news-detail.html">
                            <td class="rating__table-numb">8</td>
                            <td  class="rating__table-logo">
                                <img src="./img/clubs/rubin.svg" alt="rubin">
                            </td>
                            <td  class="rating__table-team">Рубин</td>
                            <td  class="rating__table-score">2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col w-50">
                <h3 class="rating__title">Виртуальные бомбардиры</h3>
                <table class="scorers__table">
                    <tbody>
                        <tr data-href="/news-detail.html">
                        <td class="scorers__table-numb">1</td>
                        <td class="scorers__table-photo">
                            <img src="./img/players/1.png" alt="1">
                        </td>
                        <td class="scorers__table-data">
                            <div class="name">
                                Александр Соболев
                            </div>
                            <div class="team">
                                <img src="./img/clubs/spartak.svg" alt="">
                                <span>Спартак</span>
                            </div>
                        </td>
                        <td class="scorers__table-ball">
                            <img src="./img/ball.svg" alt="ball">
                        </td>
                        <td class="scorers__table-goals">
                            12
                        </td>
                    </tr>
                        <tr data-href="/news-detail.html">
                            <td class="scorers__table-numb">2</td>
                            <td class="scorers__table-photo">
                                <img src="./img/players/2.png" alt="2">
                            </td>
                            <td class="scorers__table-data">
                                <div class="name">
                                    Рифат Жемалетдинов
                                </div>
                                <div class="team">
                                    <img src="./img/clubs/loko.svg" alt="">
                                    <span>Локомотив</span>
                                </div>
                            </td>
                            <td class="scorers__table-ball">
                                <img src="./img/ball.svg" alt="ball">
                            </td>
                            <td class="scorers__table-goals">
                                11
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html">
                            <td class="scorers__table-numb">3</td>
                            <td class="scorers__table-photo">
                                <img src="./img/players/3.png" alt="3">
                            </td>
                            <td class="scorers__table-data">
                                <div class="name">
                                    Евгений Луценко
                                </div>
                                <div class="team">
                                    <img src="./img/clubs/cska.svg" alt="cska">
                                    <span>ЦСКА</span>
                                </div>
                            </td>
                            <td class="scorers__table-ball">
                                <img src="./img/ball.svg" alt="ball">
                            </td>
                            <td class="scorers__table-goals">
                                10
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html">
                            <td class="scorers__table-numb">4</td>
                            <td class="scorers__table-photo">
                                <img src="./img/players/4.png" alt="4">
                            </td>
                            <td class="scorers__table-data">
                                <div class="name">
                                    Гжегож Крыховяк
                                </div>
                                <div class="team">
                                    <img src="./img/clubs/loko.svg" alt="loko">
                                    <span>Локомотив</span>
                                </div>
                            </td>
                            <td class="scorers__table-ball">
                                <img src="./img/ball.svg" alt="ball">
                            </td>
                            <td class="scorers__table-goals">
                                9
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html">
                            <td class="scorers__table-numb">5</td>
                            <td class="scorers__table-photo">
                                <img src="./img/players/5.png" alt="5">
                            </td>
                            <td class="scorers__table-data">
                                <div class="name">
                                    Джордже Деспотович
                                </div>
                                <div class="team">
                                    <img src="./img/clubs/cska.svg" alt="cska">
                                    <span>ЦСКА</span>
                                </div>
                            </td>
                            <td class="scorers__table-ball">
                                <img src="./img/ball.svg" alt="ball">
                            </td>
                            <td class="scorers__table-goals">
                                8
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html">
                            <td class="scorers__table-numb">6</td>
                            <td class="scorers__table-photo">
                                <img src="./img/players/3.png" alt="3">
                            </td>
                            <td class="scorers__table-data">
                                <div class="name">
                                    Азмун Сердар
                                </div>
                                <div class="team">
                                    <img src="./img/clubs/zenit.svg" alt="zenit">
                                    <span>Зенит</span>
                                </div>
                            </td>
                            <td class="scorers__table-ball">
                                <img src="./img/ball.svg" alt="ball">
                            </td>
                            <td class="scorers__table-goals">
                                7
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html">
                            <td class="scorers__table-numb">7</td>
                            <td class="scorers__table-photo">
                                <img src="./img/players/7.png" alt="7">
                            </td>
                            <td class="scorers__table-data">
                                <div class="name">
                                    Артем Дзюба
                                </div>
                                <div class="team">
                                    <img src="./img/clubs/zenit.svg" alt="zenit">
                                    <span>Зенит</span>
                                </div>
                            </td>
                            <td class="scorers__table-ball">
                                <img src="./img/ball.svg" alt="ball">
                            </td>
                            <td class="scorers__table-goals">
                                7
                            </td>
                        </tr>
                        <tr data-href="/news-detail.html">
                            <td class="scorers__table-numb">8</td>
                            <td class="scorers__table-photo">
                                <img src="./img/players/1.png" alt="1">
                            </td>
                            <td class="scorers__table-data">
                                <div class="name">
                                    Александр Соболев
                                </div>
                                <div class="team">
                                    <img src="./img/clubs/spartak.svg" alt="spartak">
                                    <span>Спартак</span>
                                </div>
                            </td>
                            <td class="scorers__table-ball">
                                <img src="./img/ball.svg" alt="ball">
                            </td>
                            <td class="scorers__table-goals">
                                6
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clr hide-mobile"></div>
        </div>
    </div>
</section>
<%= _.template(require('./../includes/footer.html').default)(data) %>
