<% var data = {
title: "КиберЛига Pro Series"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<section class="section gray">
    <div class="container">
        <div class="news-detail news-detail-big">
            <div class="news__date m-b-20">23.04.2020</div>
            <div class="video-container" id="translation-container">
                <iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/ZA4CjiCV4cw"></iframe>
            </div>
        </div>

    </div>
</section>


<section class="section p-t-0 gray">
    <div class="container">
        <div class="video-block">
            <div class="h2 text-align-center m-b-30">Прошедшие трансляции</div>
            <div class="row">
                <div class="col w-33 w-50-tablet video-item" data-src="https://www.youtube.com/embed/rBwfom0HHno">
                    <div class="video-item__bg" style="background-image: url('https://static.ukrinform.com/photos/2018_07/thumb_files/630_360_1532336780-3199.jpg')"></div>
                    <div class="video-item__title">Трансляция за 20.05.20</div>
                </div>
                <div class="col w-33 w-50-tablet video-item" data-src="https://www.youtube.com/embed/ZA4CjiCV4cw">
                    <div class="video-item__bg" style="background-image: url('https://www.footboom.net/img/upload/3/67fef-Mjach-Ligi-chempionov.jpeg')"></div>
                    <div class="video-item__title">Трансляция за 21.05.20</div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet video-item" data-src="https://www.youtube.com/embed/rBwfom0HHno">
                    <div class="video-item__bg" style="background-image: url('https://static.ukrinform.com/photos/2018_07/thumb_files/630_360_1532336780-3199.jpg')"></div>
                    <div class="video-item__title">Трансляция за 22.05.20</div>
                </div>
                <div class="clr hide-mobile"></div>
                <div class="col w-33 w-50-tablet video-item video-hide" data-src="https://www.youtube.com/embed/YGBr2ce4-is">
                    <div class="video-item__bg" style="background-image: url('https://www.footboom.net/img/upload/3/67fef-Mjach-Ligi-chempionov.jpeg')"></div>
                    <div class="video-item__title">Трансляция за 23.05.20</div>
                </div>
                <div class="clr hide-desktop"></div>
                <div class="col w-33 w-50-tablet video-item video-hide" data-src="https://www.youtube.com/embed/rBwfom0HHno">
                    <div class="video-item__bg" style="background-image: url('https://static.ukrinform.com/photos/2018_07/thumb_files/630_360_1532336780-3199.jpg')"></div>
                    <div class="video-item__title">Трансляция за 24.05.20</div>
                </div>

                <div class="col w-33 w-50-tablet video-item video-hide" data-src="https://www.youtube.com/embed/YGBr2ce4-is">
                    <div class="video-item__bg" style="background-image: url('https://www.footboom.net/img/upload/3/67fef-Mjach-Ligi-chempionov.jpeg')"></div>
                    <div class="video-item__title">Трансляция за 25.05.20</div>
                </div>
                <div class="clr hide-mobile"></div>
                <div class="clr hide-desktop"></div>
            </div>
        </div>
        <div class="text-align-center btn-block">
            <a id="show-more__video" class="button" href="/">Показать еще</a>
        </div>
    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
