html {
    margin: 0;
    padding: 0;
    font-family: $fontBase;
    font-size: 10px;
    font-weight: 400;
    color: $colorBlue;
    height: 100%;
    min-height: 640px;
    background: $colorWhite;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    background: $colorWhite;
}

* {
    outline: none;
    box-sizing: border-box;
    transition: .2s linear;
    padding: 0;
    margin: 0;
    color: $colorBlue;
}

.body {
    min-height: 100%;
    height: auto !important;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    z-index: 99;
}


.container {
    margin: 0 auto;
    padding: 1px 15px;
    max-width: 1370px;
    height: 100%;
    position: relative;
    &.relative{
        position: relative;
        z-index: 2;
    }
    &.fullscreen {
        max-width: 100%;
    }
    &.small{
        max-width: 490px;
    }

    &.for-booking {
        max-width: 960px;
    }
    &.container-nopadding {
        padding: 1px 0;
    }
    @include only-mobile {
        padding: 1px 10px;
    }
}
.overflow-hidden {
    overflow: hidden !important;
}
.tab-big {
    display: inline-block;
    padding: 14px 18px;
    background: #FFFFFF;
    font-size: 18px;
    line-height: 19px;
    color: $colorBlue;
    border: 2px solid #E6E6E6;
    cursor: pointer;
    &.active {
        background: $colorRed;
        color: #FFFFFF;
        border: 2px solid $colorRed;
    }
    @include desktop {
        &:hover {
            background: $colorRed;
            color: #FFFFFF;
            border: 2px solid $colorRed;
        }
    }
    @include mobile {
        font-size: 18px;
        padding: 10px;
    }
}
.tab-small {
    display: inline-block;
    font-size: 18px;
    line-height: 19px;
    color: $colorBlue;
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    margin-bottom: 10px;
    &.active {
        border-bottom: 2px solid $colorBlue;
    }
    @include desktop {
        &:hover {
            border-bottom: 2px solid $colorBlue;
        }
    }
}

.play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background: $colorRed;
    border-radius: 50%;
    transition: .2s linear;
    img {
        width: 6px !important;
    }
    @include desktop {
        &:hover {
            background: darken($colorRed, 10%);
        }
    }
    &.play-btn__big {
        width: 46px;
        height: 46px;
        img {
            width: 14px !important;
        }
    }
}

.big-banner {
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    &:before{
        content: " ";
        display: block;
        float: left;
        margin: 0;
        padding-top: 44%;
    }
}

/*Breadcrumbs*/
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 7;
    .item, .item-last {
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        color: #9A9A9A;
        margin-bottom: 5px;
    }
    .item {
        text-decoration: none;
        margin-right: 20px;
        position: relative;
        &:after {
            content: '/';
            display: inline-block;
            position: absolute;
            right: -14px;
        }
        @include desktop {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &.breadcrumbs-white {
        .item, .item-last {
            color: $colorWhite;
        }
    }
}

/*Fancy-gallery */
.fancybox-button {
    background: #fff;
    color: black;
    padding: 0;
}
.fancybox-infobar span {
    color: #fff !important;
}
body.compensate-for-scrollbar {
    overflow: auto !important;
}
.compensate-for-scrollbar {
    margin-right: 0 !important;
}


/*Table sort*/
.table_sort th {
    cursor: pointer;
}
th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}
th.sorted[data-order] {
    background: rgba(0, 0, 0, 0.03) !important;
}


th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
    position: absolute;
    @include mobile {
        display: none !important;
    }
}

th.sorted[data-order="-1"]::after {
    content: '';
    border: solid $colorRed;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: 10.5px;
    top: 50%;
    margin-top: -8.5px;
}

th.sorted[data-order="1"]::after {
    content: '';
    border: solid $colorRed;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    right: 10.5px;
    top: 50%;
    margin-top: -2.5px;
}


.flex-center {
    display: flex;
    align-items: center;
}


tr[data-href] {
    cursor: pointer !important;
}

tr:not([data-href]) {
    cursor: default !important;
}


.tooltip {
    position: fixed;
    padding: 5px 10px;
    text-align: center;
    font-size: 11px;
    color: #333;
    background: #F1F1F1;
    border: 1px solid #b7b7b7;
    z-index: 999;
}
.video-block {
    .video-item {
        margin-bottom: 20px;
        cursor: pointer;
        .video-item__title {
            font-size: 20px;
            margin: 5px 0;
        }
        .video-item__bg {
            display: inline-block;
            width: 100%;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center center;
            &:before {
                display: block;
                content: '';
                float: left;
                width: 100%;
                padding-top: 56.25%;
            }
        }
    }
    .video-hide {
        display: none;
    }
}
.video-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe, video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}
@include mobile {
    padding: 30px 120px;
}
@media screen and (max-width: 760px){
    padding: 15px;
}
