.ahmat-bg {
    background: #00755B;
}
.tambov-bg {
    background: #007BD4;
}
.arsenal-bg {
    background: #EC1C24;
}
.cska-bg {
    background: #E51133;
}
.dinamo-bg {
    background: #E51133;
}
.sochi-bg {
    background: #00304F;
}
.krasnodar-bg {
    background: #005534;
}
.krilya-bg {
    background: #609DE9;
}
.loko-bg {
    background: #009B3D;
}
.orenburg-bg {
    background: #004A8C;
}
.rostov-bg {
    background: #034EA1;
}
.rubin-bg {
    background: #7F1E34;
}
.spartak-bg {
    background: #D11F3D;
}
.ufa-bg {
    background: #B91222;
}
.ural-bg {
    background: #F48120;
}
.zenit-bg {
    background: #00AFEF;
}
