.clubs {
    .krilya-bg {
        background: #ffffff !important;
    }
    .select__clubs-wrapper {
        position: absolute;
        right: 0;
        top: 40px;
        &.tab.active {
            display: inline-block !important;
        }
        .result-select, .choices {
            @include mobile {
                width: auto;
                position: relative;
            }
            .choices__item {
                text-align: left;
            }
        }
        @include mobile {
            position: relative;
            right: auto;
            top: auto;
            float: left;
            margin-bottom: 30px;
        }
    }
    .clubs-top {
        min-height: 305px;
        padding-top: 20px;
        padding-bottom: 40px;
        overflow: hidden;
        .clubs-top__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../img/clubs-bg.png) no-repeat 50% 15%;
            -webkit-background-size: cover;
            background-size: cover;
            @media screen and (max-width: 1000px) and (min-width:760px){
                background: url(../img/clubs-bg.png) no-repeat 50%;
            }
        }
        .clubs-top__content {
            position: relative;
            text-align: center;
            .clubs-logo {
                width: 110px;
                height: 110px;
            }
            .clubs-title {
                margin: 10px 0 40px;
                font-family: $fontSec;
                font-weight: normal;
                font-size: 50px;
                line-height: 51px;
                text-align: center;
                color: $colorBlue;
                text-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
            }
            .clubs-top__socials {
                a {
                    display: inline-block;
                    margin-right: 20px;
                    cursor: pointer;
                    &:last-child {
                        margin-right: 0;
                    }
                    img {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }
        @media screen and (max-width:760px){
            .clubs-top__content {
                position: relative;
                text-align: center;
                margin-top: 10px;
                .clubs-logo {
                    width: 90px;
                    height: 90px;
                }
                .clubs-title {
                    font-size: 38px;
                    line-height: 39px;
                }
                .clubs-top__socials {
                    a {
                        display: inline-block;
                        margin-right: 12px;
                        cursor: pointer;
                        &:last-child {
                            margin-right: 0;
                        }
                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
    .clubs-info {
        .switches {
            display: flex;
            overflow-x: scroll;
            justify-content: center;
            &::-webkit-scrollbar { width: 0; }
            & { -ms-overflow-style: none; }
            & { overflow: -moz-scrollbars-none; }
            .switch:not(:last-child) {
                margin-right: 18px;
            }
            .switch {
                white-space: nowrap;
            }
            @include mob {
                justify-content: flex-start;
            }
        }
        .tab {
            display: none;
            &.active {
                display: block;
            }
        }
        .clubs-info__stats {
            .clubs-info__stats-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px;
                background: #FFFFFF;
                margin-bottom: 19px;
                height: 63px;
                .text {
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 21px;
                    color: $colorBlue;
                }
                .number {
                    font-weight: bold;
                    font-size: 26px;
                    line-height: 27px;
                    color: $colorMain;
                }
                &--blue, &--red {
                    .text {
                        color: $colorWhite;
                    }
                    .number {
                        font-weight: bold;
                        font-size: 38px;
                        line-height: 40px;
                        color: $colorWhite;
                    }
                }
                &--blue  {
                    background: #2581C4;
                }
                &--red {
                    background: #E73338;
                }
                @include mobile {
                    .text {
                        font-size: 18px;
                        line-height: 19px;
                    }
                    .number {
                        font-size: 24px;
                        line-height: 25px;
                    }
                    &--blue, &--red {
                        .number {
                            font-size: 34px;
                            line-height: 35px;
                        }
                    }
                }

            }
            .clubs-info__stats-title {
                font-weight: bold;
                font-size: 26px;
                line-height: 27px;
                color: #000000;
                margin: 26px 0 20px;
            }
        }
    }
    .clubs-line-up {
        .clubs-line-up__item {
            width: 100%;
            display: block;
            margin-bottom: 35px;
            transition: .3s linear;
            .photo-block {
                width: 100%;
                background: #ffffff url("../img/player-bg.png") no-repeat;
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center center;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                overflow: hidden;
                &:before{
                    content: " ";
                    display: block;
                    float: left;
                    margin: 0;
                    padding-top: 115%;
                }
                .main-photo {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                }
                .club-logo {
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    width: 100px;
                    height: 100px;
                }
            }
            .text-block {
                background: #021135;
                padding: 15px 30px;
                border-left: 9px solid $colorMain;
                border-right: 9px solid $colorRed;
                text-align: center;
                .name {
                    font-family: $fontSec;
                    font-weight: normal;
                    font-size: 54px;
                    line-height: 55px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    margin-bottom: 6px;
                }
                .surname {
                    font-family: $fontSec;
                    font-weight: normal;
                    font-size: 30px;
                    line-height: 31px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                }
                .link {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 17px;
                    color: #00E0FF;
                }
                .line {
                    width: 215px;
                    height: 1px;
                    background: rgba(255,255,255, 0.15);
                    margin: 11px auto 13px;
                }
                @media screen and (max-width: 540px) {
                    .name {
                        font-size: 44px;
                        line-height: 45px;
                    }
                    .surname {
                        font-size: 26px;
                        line-height: 27px;
                    }
                }
            }
            @include desktop {
                &:hover {
                    .photo-block {
                        .main-photo {
                            transform: scale(1.1);
                        }
                    }

                }
            }
            @media screen and (max-width: 540px) {
                .photo-block {
                    .club-logo {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        .clubs-line-up__detail {
            padding: 42px 72px;
            background: #ffffff;
            .item {
                margin-bottom: 22px;
            }
            .subtitle {
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 21px;
                color: $colorBlue;
                margin-bottom: 12px;
                margin-right: 50px;
            }
            .value {
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $colorMain;
            }
            .age .value,
            .city .value {
                font-size: 20px;
                line-height: 21px;
            }
            .social {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }
            .social-list {
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                a {
                    display: block;
                    margin-right: 12px;
                    width: 16px;
                    height: 16px;
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
            .achievement {
                .value {
                    margin-bottom: 9px;
                }
            }
            @include tab {
                padding: 32px 20px;
            }
            @include mob {
                padding: 32px 12px;
            }
        }
    }
}
