@font-face {
    font-family: 'ALS Sector';
    src: url('../fonts/ALSSectorRegular-Regular.woff2') format('woff2'),
    url('../fonts/ALSSectorRegular-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ALS Sector';
    src: url('../fonts/ALSSectorBold-Bold.woff2') format('woff2'),
    url('../fonts/ALSSectorBold-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'RPL';
    src: url('../fonts/RPL-Regular.woff2') format('woff2'),
    url('../fonts/RPL-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
