.news-detail {
    display: block;
    width: 100%;
    background: $colorWhite;
    padding: 50px 230px;
    &.news-detail-big {
        padding: 50px 90px 88px;
    }
    a {
        text-decoration: underline;
        color: $colorMain;
        font-size: 17px;
    }
    .news__date {
        font-weight: bold;
        font-size: 17px;
        line-height: 18px;
        color: #9A9A9A;
    }
    p {
        line-height: 34px;
        margin-bottom: 20px;
    }
    .news-image {
        width: 100%;
        display: block;
        img {
            width: 100%;
            height: auto;
        }
    }
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    @include mobile {
        padding: 30px 120px;
        &.news-detail-big {
            padding: 30px 70px 55px;
        }
    }
    @media screen and (max-width: 760px){
        padding: 15px;
        &.news-detail-big {
            padding: 15px;
        }
    }
}
