.news-block {
    .col {
        overflow: hidden;
        transition: 0.4s linear;
    }
    .news-hide {
        display: none;
    }
    .news-tab {
        position: relative;
        width: 100%;
        cursor: pointer;
        margin: 0 0 35px;
        overflow: hidden;
        transition: 0.4s linear;
        .news__type {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            padding: 6px 10px;
            color: $colorWhite;
            text-transform: uppercase;
            font-size: 10px;
            line-height: 11px;
            letter-spacing: 0.06em;
            z-index: 4;
            &.interview {
                background: $colorRed;
            }
            &.inteview {
                background: $colorRed;
            }
            &.video {
                background: $colorMain;
            }
            &.new {
                background: #8B55FF;
            }
            &.media {
                background: #007E32;
            }
            &.article {
                background: #F48120;
            }
        }
        .news__img {
            width: 100%;
            -webkit-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 0;
            overflow: hidden;
            transition: 0.4s linear;
            &:before{
                content: " ";
                display: block;
                float: left;
                margin: 0;
                padding-top: 60%;
            }
        }
        .news__date {
            display: block;
            font-size: 12px;
            line-height: 13px;
            color: #9A9A9A;
            margin: 10px 0 5px;
        }
        .news__title {
            font-size: 18px;
            line-height: 23px;
            color: $colorBlue;
            transition: 0.4s linear;
        }
        @include desktop {
            &:hover {
                .news__title {
                    color: $colorMain;
                }
                .news__img {
                    opacity: .6;
                }
            }
        }

        @media screen and (max-width: 759px){
            display: flex;
            .news__title {
                font-size: 14px;
            }
            .news__img {
                display: block;
                width: 100px;
                min-width: 100px;
                height: 100px;
                &:before{
                    padding-top: 100%;
                }
            }
            .news-text {
                margin-left: 15px;
                .subtitle {
                    max-width: 400px;
                }
                .news__date {
                    margin-top: 0;
                    font-size: 12px;
                    line-height: 13px;
                }
            }
        }
        @media screen and (max-width: 759px) and (min-width: 500px){
            .news__img {
                width: 200px;
                min-width: 200px;
                height: 200px;
            }
            .news-text {
                .news__date {
                    font-size: 14px;
                }
                .subtitle {
                    font-size: 17px;
                }
            }
        }
        @include tablet {
            .news__title {
                font-size: 16px;
            }
        }
    }
    .news-tab__main {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 35px;
        position: relative;
        &:before{
            content: " ";
            display: block;
            float: left;
            margin: 0;
            padding-top: 95%;
        }
        .news-tab__main-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 0;
            overflow: hidden;
            transition: 0.4s linear;
        }
        .news-tab__content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 35px;
            z-index: 5;
        }
        .news__date__main {
            font-size: 14px;
            line-height: 15px;
        }
        p:not(.h3) {
            line-height: 26px;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 50%;
            transition: 0.8s linear;
            background-image:  linear-gradient(180deg, rgba(2, 17, 53, 0) 7.69%, rgba(2, 17, 53, 0.83) 54.25%);
        }
        @include desktop {
            &:hover {
                &:after {
                    background-image:  linear-gradient(180deg, rgba(2, 17, 53, 0) 7.69%, rgba(2, 17, 53, 0.7) 54.25%);
                }
                .news-tab__main-bg {
                    opacity: 0.9;
                    transform: scale(1.05);
                }
            }
        }
        @include mobile {
            .news-tab__content {
                padding: 20px;
            }
            &:before{
                padding-top: 110%;
            }
            .news__date__main {
                font-size: 12px;
            }
        }
        @media screen and (min-width:540px) and (max-width:760px) {
            &:before{
                padding-top: 80%;
            }
        }
        @include tablet {
            &:before{
                padding-top: 60%;
            }
        }
    }

}
