.rating {
    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        color: $colorBlue;
        margin-bottom: 52px;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;

        tr {
            border-left: 7px solid $colorWhite;
            border-bottom: 1px solid #F1F1F1;
            td {
                padding: 7px 0;
            }
            &:first-child {
                border-left: 7px solid $colorMain;
                background: #F1F1F1;
            }
            .rating__table-numb {
                font-weight: 700;
                font-size: 24px;
                line-height: 25px;
                color: $colorBlue;
                padding-left: 14px;
                width: 50px;
            }
            .rating__table-logo {
                width: 44px;
                img {
                    width: 44px;
                    height: 44px;
                }

            }
            .rating__table-team {
                font-weight: 700;
                font-size: 24px;
                line-height: 25px;
                color: $colorBlue;
                padding-left: 15px;
            }
            .rating__table-score {
                font-weight: 700;
                font-size: 30px;
                line-height: 32px;
                color: $colorMain;
                width: 100px;
                padding-right: 15px;
                text-align: right;
            }
        }
    }
    .scorers__table {
        width: 100%;
        border-collapse: collapse;
        tr {
            border-left: 7px solid $colorWhite;
            border-bottom: 1px solid #F1F1F1;
            td {
                padding: 3px 0;
            }
            &:first-child {
                border-left: 7px solid $colorRed;
                background: #F1F1F1;
            }
            .scorers__table-numb {
                font-weight: 700;
                font-size: 24px;
                line-height: 25px;
                color: $colorBlue;
                padding-left: 14px;
                width: 50px;
            }
            .scorers__table-photo {
                width: 50px;
                height: 50px;
                img  {
                    display: inline-block;
                    margin-top: 3px;
                    width: 100%;
                    height: auto;
                }
            }
            .scorers__table-data {
                padding-left: 16px;
                padding-top: 2px;
                .name {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 21px;
                    color: $colorBlue;
                }
                .team {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                    span {
                        display: inline-block;
                        margin-left: 5px;
                        font-size: 12px;
                        line-height: 13px;
                        color: #021135;
                        opacity: 0.4;
                    }
                }
            }
            .scorers__table-ball {
                width: 19px;
                img {
                    display: inline-block;
                    margin-top: 4px;
                    width: 100%;
                    height: auto;
                }
            }
            .scorers__table-goals {
                width: 60px;
                padding-right: 15px;
                padding-left: 10px;
                font-weight: 700;
                font-size: 30px;
                line-height: 32px;
                color: $colorMain;
            }
        }
    }
}
