.tabs-block .tab {
    display: none;
}
.tabs-block .tab-btn {
    display: none;
}
.tabs-block .tab.active {
    display: table-row;
}
.tabs-block .tab.active.col {
    display: block;
}
.tabs-block .tab-btn.active {
    display: table-row;
}



.tab-2 {
    display: none;
}
.tab-2.active {
    display: table;
}
.tab-3 {
    display: none;
}
.tab-3.active {
    display: table;
}

.additional-tabs {
    .tab-small {
        margin-right: 24px;
    }
}
