.tabs-block .tab {
    display: none;
}
.tabs-block .tab-btn {
    display: none;
}
.tabs-block .tab.active {
    display: table-row;
}
.tabs-block .tab.active.col {
    display: block;
}
.tabs-block .tab-btn.active {
    display: table-row;
}



.results__table.tab-2 {
    display: none;
}
.results__table.tab-2.active {
    display: table;
}
.results__item.tab-2.active {
    display: table-row;
}
.results__table.tab-3 {
    display: none;
}
.results__table.tab-3.active {
    display: table;
}
.results__item.tab-3.active {
    display: table-row;
}

.additional-tabs {
    .tab-small {
        margin-right: 24px;
    }
}


.tab-big.switch.active ~ .choices {
    display: none;
}
