// переменные
$fontBase: 'ALS Sector', sans-serif;
$fontSec: 'RPL', sans-serif;

$colorMain: #2581C4;
$colorGray: #9A9A9A;;
$colorRed: #E73338;
$colorBlue: #021135;
$colorBlack: #021135;
$colorLight: #F8F8F8;
$colorWhite: #ffffff;
$sectionGreyBg: #F1F1F1;
$sectionGreyMid: #E6E6E6;


